<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.softwarrior.rutrackerdownloader"
      android:versionCode="1" android:versionName="1.0.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:name="RutrackerDownloaderApp">        
        <activity android:name="SplashScreen" android:screenOrientation="portrait">
       		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="PreferencesTabs"></activity>
		<activity android:name="WEBPreferencesScreen"></activity>
		<activity android:name="RSSPreferencesScreen"></activity>		
		<activity android:name="com.softwarrior.web.TorrentWebClient"></activity>
		<activity android:name="com.softwarrior.rss.MessageList"></activity>
		
		<service android:name="DownloadService"/>
        <activity android:name="DownloadService$Controller"
                android:label="@string/activity_service_controller"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>							
</application>
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
</manifest> 